<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Exo:800&display=swap" rel="stylesheet">
	<link href="/fontStyle.css" rel="stylesheet">
	<link href="/play.css" rel="stylesheet">
	<!-- POST first: ws_link.js reads POST.ws to find the game server. -->
	<script type='text/javascript'>var POST = <%- data %>;</script>
	<script type='text/javascript' src='./SHARE/ws_link.js'></script>
	<!-- kinds.js before TanksConfig.js: TanksConfig's DETEC filters read KIND at load time. -->
	<script type='text/javascript' src='./SHARE/kinds.js'></script>
	<script type='text/javascript' src='./SHARE/TanksConfig.js'></script>
	<script type='text/javascript' src='./SHARE/PetsConfig.js'></script>
	<script type='text/javascript' src='./SHARE/SocketSchema.js'></script>
	<script type='text/javascript' src='./motion.js'></script>
</head>

<body>
	<!--
      The client, in load order. There is no bundler: each file fills in part of the shared
      CLIENT registry created by runtime.js, and every one of them assumes the ones above it
      have already run. boot.js is last because it is the only one with a side effect -
      window.onload. Read public/client/runtime.js before reordering these.
    -->
	<script src='/client/runtime.js'></script>
	<script src='/client/config.js'></script>
	<script src='/client/util.js'></script>
	<script src='/client/drawings.js'></script>
	<script src='/client/entities.js'></script>
	<script src='/client/render.js'></script>
	<script src='/client/ui.js'></script>
	<script src='/client/game.js'></script>
	<script src='/client/overlay.js'></script>
	<script src='/client/boot.js'></script>
</body>

</html>